.first-page {
    width: 100%;
    height: 100%;
}

/* 登录页 */
.login-user {
    width: 100%;
    height: 100%;
    background: url('../images/login/pic_login.png') no-repeat;
    background-size: cover;
}
.login-header {
    width: 100%;
    height: 80px;
    line-height: 110px;
}
.login-header img {
    height: 42px;
    margin-left: 40px;
    z-index: 200;
}

.login-user .login-content {
    width: 100%;
}

.login-user .content-main {
    width:580px;
    height:460px;
    margin: 7% auto 0;
    background: #fff;
    border-radius: 10px;
    /* background: url("../images/login/bg_login.png") no-repeat;
    background-size: 100% 483px; */
}

.login-user .content-main-header {
    width: 100%;
    height: 67px;
}
.login-user .user-mt-title {
    height: 63px;
    margin: 21px 0 0 259px;
    font-size: 34px;
    line-height: 68px;
    display: inline-block;
}
.login-user .forget-mt-title {
  height: 63px;
    margin: 21px 0 0 222px;
    font-size: 34px;
    line-height: 68px;
    display: inline-block;
}
.login-user .user-mt-img {
    background: url("../images/login/login_w_t.png");
    width: 52px;
    height: 52px;
    float: right;
    cursor: pointer;
}
.login-user .content-main-userlogin {
    width: 338px;
    height: auto;
    margin: 40px 0 20px 121px;
    border-radius: 2px;
    overflow: hidden;
    /* padding: 20px 0 0 0; */
}
.login-user .userlogin-input {
  width: 338px;
  height: 45px;
  margin: 20px auto 20px;
  line-height: 45px;
}
.login-user .userlogin-button {
  width: 338px;
  margin: 11px auto 0;
  overflow: hidden;
}
.userlogin-button-forget {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #F87242;
  text-align: right;
  margin-bottom: 5px;
}
.userlogin-button-forget span {
  cursor: pointer;
}
.login-user .userlogin-goregist, .userlogin-turnlogin {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #F87242;
}

/* 二维码登录 */
.login-user .content-qrcode {
  width:380px;
  height:460px;
  margin: 7% auto 0;
  background: #fff;
  border-radius: 10px;
}
.login-user .user-qr-title {
  height: 63px;
  margin: 21px 0 0 122px;
  font-size: 34px;
  line-height: 68px;
  display: inline-block;
}
.login-user .user-qr-img {
  background: url("../images/login/login_t_w.png");
  width: 52px;
  height: 52px;
  float: right;
  cursor: pointer;
}
.login-user .content-qrcode-userlogin {
  width: 250px;
  height: auto;
  margin: 40px auto 0;
}
.login-user .content-qrcode-userlogin img {
  width: 100%;
  height: 250px;
}
