.regist-user {
  width: 100%;
  height: 100%;
  background: url('../images/login/pic_login.png') no-repeat;
  background-size: cover;
}
.regist-header {
  width: 100%;
  height: 80px;
  line-height: 110px;
}
.regist-header img {
  height: 42px;
  margin-left: 40px;
  z-index: 200;
}
.regist-user .regist-content {
  width: 100%;
}
.regist-user .regist-content-main {
  width:580px;
  height:690px;
  margin: 4% auto 0;
  background: #fff;
  border-radius: 10px;
}
.regist-user .content-main-userregist {
  width: 338px;
  height: auto;
  margin: 0 0 0 121px;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px 0 0 0;
  position: absolute;
}
.regist-user .user-mt-title {
  height: 80px;
  margin: 11px 0 0 259px;
  font-size: 30px;
  line-height: 80px;
  display: inline-block;
}
.regist-user .userregist-gologin {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #F87242;
}
.regist-user .regist_area_icon {
  font-size: 14px;
  color: #D0D0D0;
  position: absolute;
  top: 13px;
  left: 10px;
  z-index: 1000;
}
.regist-user .regist_area .el-input__inner {
  padding-left: 30px;
}
.regist-user .send_testcode {
  cursor: pointer;
  font-style: normal
}

/* .regist-user .regist_agree_checkbox .regist_agree_checkbox {
  height: 20px;
  margin-bottom: 12px;
} */
.regist-user .regist_agree_checkbox .el-form-item__error {
  position: absolute;
  top: 28px;
}
